body {
	background-color: #8a8a5c;
}
table, tr, td {
		  border: 1px solid black;
		}
table {
	background-color: black;
	border-spacing: 1px;
	border: 25px solid black;
	border-image: url(wood.jpg) 30 round;
	text-align: center;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
}
td {
	background-color: rgb(220, 220, 220);
	width: 100px;
	height: 100px;
}
p {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}
#vreme {
	margin-bottom: 3px;
	margin-top: 1%;
}
#potezi {
	margin-top: 0.5%;
}

button {
	width: 9%;
	border-radius: 5px;
	border: none;
	color: black;
	font-weight: bold;
	padding: 10px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: rgb(180, 180, 180);
}

#bt {
	margin-bottom: 30px;
	margin-top: 20px;
}
#btn1 {
 	margin-left: 40%;
 	margin-right: 1%;
}

#btn2 {
 	margin-left: 1%;	
}